body {
	max-width: 800px;
	margin: 0 auto;
	background-color: #F2EFE9;
	font-family: "Roboto";
}

nav ul {
	padding: 0;
	list-style-type: none;
	flex: 2;
	display: flex;
}

nav li {
	display: inline;
	text-align: center;
	flex: 1;
}

nav a {
	display: inline-block;
	font-size: 1rem;
	height: 3rem;
	line-height: 1.7;
	text-transform: uppercase;
	text-decoration: none;
	color: black;

}

@font-face {
	font-family: "Roboto";
	src: url("rob/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Playfair Display Medium";
	src: url("pfd/PlayfairDisplay-Medium.ttf");
}

hr {
	border: none;
}

p {
	color: #0D0000;
}

a {
	color: #0D0000;
}

code {
	color: #0D0000;
}

h1,h2,h3,h4,h5,h6 {
	color: #0D0000;
	font-family: "Playfair Display Medium";
}

ol {
	color: #0D0000;
}

ul {
	color: #D94E41;
}